:root {
  --bg: #121212;
  --primary-orange: #fd6f00;
  --secondary-orange: #e46400;
  --white: #ffffff;
  --grey: #707070;
  --dark-grey: #2b2b2b;
  --gap-large: 30px;
  --gap-medium: 20px;
  --gap-small: 10px;
  --border-radius: 8px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
}
body,
html {
  background-color: var(--bg);
}
button {
  border: none;
  border-radius: var(--border-radius);
  font-weight: bold;
}
a {
  text-decoration: none;
  color: inherit;
}
.filled {
  background: linear-gradient(
    to bottom right,
    var(--primary-orange),
    var(--secondary-orange)
  );
  border: 2px solid transparent;
  text-align: center;
  padding: var(--gap-small);
  color: var(--white);
}
.filled:hover {
  background: var(--white);
  color: var(--secondary-orange);
}
.outlined {
  border: 2px solid var(--white);
  background-color: inherit;
  padding: var(--gap-small);
}
.outlined:hover {
  background-color: var(--white);
  color: var(--bg);
}
.transparent {
  background-color: inherit;
}
.transparent-close {
  background-color: inherit;
  position: absolute;
  top: 2%;
  right: 0%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 390px) {
  .filled, .outlined {
    padding: 7px;
  }
}
